body{
	background-color: honeydew;
	
}

h1{
	font-family: Georgia, 'Times New Roman',Times, serif;
	border: 1px solid green;
	text-align: center;
}

p{
	font-family: monospace;
}

.foto{
	border: 2px solid white;
	border-radius: 10%;
	padding: 10px;
	background-color: aqua;
}
.sobreMim{
	border: 1px solid blue;
	position: absolute;
	top: 90px;
	left: 240px;
}

.linkedin{
	line-height: 30px;
}
	
.blog{
	line-height: 40px;
}